#header{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    min-height: 5vh;
}

#navigation{
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    .darkmode{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        button{
            border: none;
            outline: none;
            background-color: transparent ;
        }
    }
}

