.Search{
    max-width: 80%;
    padding: 2% 0;
    margin:auto;
    display: flex;
    margin: auto;   
    justify-content: space-between;
    // select{
    //     border: none;
    //     outline: none;
    // }

    .inputBox{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 10px 30px;
    }

    input{
        border: none;
        outline: none;
        
    }

    select{
        padding: 10px 30px;
        outline: none;
    }
}